@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade {
    10% {
        transform: scale(1, 1)
    }
    35% {
        transform: scale(1, 1.7)
    }
    40% {
        transform: scale(1, 1.7)
    }
    50% {
        opacity: 1
    }
    60% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(1, 1);
        opacity: 0
    }
}

[data-language] code,
[class^="lang"] code,
pre [data-language],
pre [class^="lang"] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    animation: 50ms ease-in-out 2s forwards fade-in
}

[data-language] code.rainbow,
[class^="lang"] code.rainbow,
pre [data-language].rainbow,
pre [class^="lang"].rainbow {
    animation-delay: 0s
}

[data-language] code.loading,
[class^="lang"] code.loading,
pre [data-language].loading,
pre [class^="lang"].loading {
    animation-play-state: paused
}

pre {
    position: relative
}

pre.loading .preloader div {
    animation-play-state: running
}

pre.loading .preloader div:nth-of-type(1) {
    background: #0081f5;
    animation: fade 1.5s 300ms linear infinite
}

pre.loading .preloader div:nth-of-type(2) {
    background: #5000f5;
    animation: fade 1.5s 438ms linear infinite
}

pre.loading .preloader div:nth-of-type(3) {
    background: #9000f5;
    animation: fade 1.5s 577ms linear infinite
}

pre.loading .preloader div:nth-of-type(4) {
    background: #f50419;
    animation: fade 1.5s 715ms linear infinite
}

pre.loading .preloader div:nth-of-type(5) {
    background: #f57900;
    animation: fade 1.5s 853ms linear infinite
}

pre.loading .preloader div:nth-of-type(6) {
    background: #f5e600;
    animation: fade 1.5s 992ms linear infinite
}

pre.loading .preloader div:nth-of-type(7) {
    background: #00f50c;
    animation: fade 1.5s 1130ms linear infinite
}

pre .preloader {
    position: absolute;
    top: 12px;
    left: 10px
}

pre .preloader div {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    opacity: 0;
    animation-play-state: paused;
    animation-fill-mode: forwards
}

pre {
    background-color: #000;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px
}

pre,
code {
    font-family: 'Monaco', 'Menlo', courier, monospace
}

pre {
    background-color: #2a211c;
    color: #ffdab9
}

pre .support.class,
pre .support.type {
    color: #6d79de
}

pre .support.constant {
    color: #00af0e
}

pre .constant.language {
    color: #585cf6
}

pre .support.function {
    font-weight: bold;
    color: #7290d9
}

pre .string {
    color: #049b0a
}

pre .constant.numeric {
    color: #44aa43
}

pre .keyword,
pre .storage {
    color: #43a8ed
}

pre .entity.function {
    color: #ff9358
}

pre .comment {
    color: #0066ff;
    font-style: italic
}

pre .constant.symbol {
    color: #c5656b
}

pre .variable.instance,
pre .variable.language,
pre .constant {
    color: #318495
}
