<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Кодировка -->
    <meta charset="utf-8">
    <!-- Титульная фраза -->
    <title></title>
    <!-- Описание страницы, адаптация для разных экранов и отображение в Edge -->
    <meta content="">
    <meta content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- JQuery -->
    <!-- Rainbow -->
    <!-- Tooltipster, см. http://ru.stackoverflow.com/a/584718/199934 -->
    <!-- Clipboard.js, см. http://ru.stackoverflow.com/a/582520/199934 -->
	<!-- Details Polyfill, см. http://ru.stackoverflow.com/a/498984/199934 -->
    <!-- Иконочка Сашеньки -->
    <link rel="shortcut icon" href="../theme/images/icons/Sasha.ico" type="image/x-icon">
    <link rel="icon" href="../theme/images/Sasha.ico" type="image/x-icon">
    <!-- Стиль страницы -->
    <link rel="stylesheet" href="../theme/css/general/style.css">
    <link rel="stylesheet" href="../theme/css/general/image_.css">
    <link rel="stylesheet" href="../theme/css/sections/.css">
    <link rel="stylesheet" href="../theme/css/general/fonts.css">
    <!-- Открытие ссылок в новой вкладке -->
    <base target="_blank">
    <!-- Персональные css-файлы для страниц, pelican_javascript, https://github.com/mortada/pelican_javascript/tree/58e7335e5f5fa0acc945425c2d12bf9dcadb150f -->
</head>

<body>
    <!-- Бэкграунд aside -->
    <aside class="sidebar">
        <div class="cover">
            <div class="cover-text">
                <!-- Заголовок aside -->
                <h1></h1>
            </div>
        </div>
    </aside>
    <!-- Текст -->
    <main class="content-wrapper">
    <h1></h1>
    <img src="http://2no.co/.png">
    <SashaVersion>
    <time datetime="2016-01-20 15:00:00+03:00"></time>
	</SashaVersion>
<p>http://duncanlock.net/blog/2013/05/17/how-i-built-this-website-using-pelican-part-1-setup/</p>
<p>http://hyde.getpoole.com/ — 2-столбчатая тема для&nbsp;сайта</p>
<p>http://nafiulis.me/making-a-static-blog-with-pelican.html — ещё про Пеликан для&nbsp;начинающих</p>
<p>https://github.com/getpelican/pelican-plugins — плагины для&nbsp;pelican</p>
<p>http://stackoverflow.com/a/41316723/5951529 — не работает&nbsp;quickstart</p>
<p>http://romeogolf.site/pelican-i-napolnenie-zagotovki-saita-khot-chem-nibud.html — блог о&nbsp;Пеликан</p>
<p>https://the-bosha.ru/2016/05/04/generator-staticheskih-blogov-pelican/ — плагины для&nbsp;Pelican</p>
<p>https://www.sitepoint.com/7-reasons-not-use-static-site-generator/ — почему НЕ использовать статические&nbsp;сайты</p>
<p>http://meli-lewis.github.io/blog/ — красивый&nbsp;шрифт</p>
<p>http://stackoverflow.com/a/36266002/5951529 — fabric3, а не fabric для Python3&nbsp;нужен</p>
<p>http://docs.getpelican.com/en/stable/themes.html#article-html — как добавлять собственные&nbsp;переменные</p>
<p>{{ page.content }} — куда будет выводиться основной контент&nbsp;страницы</p>	<div class="SashaEmNoColor">For all matters relating to article please contact me by
<span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:FnfunPurealxuRzcerffBsHavirefr@xevfgvavgn.eh?fhowrpg=R-znvy gb Fnfun Purealxu\" gnetrg=\"_oynax\">r-znvy</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">ur.atinitsirk@esrevinUfOsserpmEhkynrehCahsaS</span></noscript></span> or by <a href="https://github.com/Kristinita/SashaSublime/issues" title="GitHub bugtracker">GitHub</a>, click «New Issue». With commentary in the style of <a href="../Smert-svobode/Новые-недовольные-русские">new disgruntled Russian</a> i reserve the right to dispose of my own&nbsp;discretion.</div>
    <div class="WorkOnYourself">Работайте над собой</WorkOnYourself>
    </main>
</body>

</html>