<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <title>Поиск Кристиниты</title>
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}">Поиск Кристиниты <strong></strong></a></h1>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
            {% if DISPLAY_PAGES_ON_MENU -%}
            {% for pg in pages %}
            <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            {% endfor %}
            {% endif %}
        </ul></nav><!-- /#menu -->
<section id="content">
<h2>All articles</h2>

<em>Автор говорит, что articles ему не нужны и хватит только pages. Так что «All articles» тут отсутствует</em>

<hr/>

</section><!-- /#content -->
</body>
</html>
