<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <!-- Кодировка -->
    <meta charset="utf-8">
    <!-- Титульная фраза -->
    <title>{% block base_pagetitle %}{% endblock %}</title>
    <!-- Описание страницы, адаптация для разных экранов и отображение в Edge -->
    <meta content="{% block base_metacontent %}{% endblock %}">
    <meta content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- JQuery -->
    {% block base_jquery %}{% endblock %}
    <!-- Rainbow -->
    {% block base_rainbow %}{% endblock %}
    <!-- Tooltipster, см. http://ru.stackoverflow.com/a/584718/199934 -->
    {% block base_tooltipster %}{% endblock %}
    <!-- Clipboard.js, см. http://ru.stackoverflow.com/a/582520/199934 -->
    {% block base_clipboardjs %}{% endblock %}
	<!-- Details Polyfill, см. http://ru.stackoverflow.com/a/498984/199934 -->
	{% block base_detailspolyfill %}{% endblock %}
    <!-- Иконочка Сашеньки -->
    <link rel="shortcut icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/icons/Sasha.ico" type="image/x-icon">
    <link rel="icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/Sasha.ico" type="image/x-icon">
    <!-- Стиль страницы -->
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/style.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/image_{% block base_iconleftorright %}{% endblock %}.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/{% block base_pagecolors %}{% endblock %}.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/fonts.css">
    <!-- Открытие ссылок в новой вкладке -->
    <base target="_blank">
    <!-- Персональные css-файлы для страниц, pelican_javascript, https://github.com/mortada/pelican_javascript/tree/58e7335e5f5fa0acc945425c2d12bf9dcadb150f -->
    {% if page %}
        {% if page.stylesheets %}
            {% for stylesheet in page.stylesheets %}
    {{ stylesheet }}
            {% endfor %}
        {% endif %}
    {% endif %}
</head>

<body>
    <!-- Бэкграунд aside -->
    <aside class="sidebar">
        <div class="cover">
            <div class="cover-text">
                <!-- Заголовок aside -->
                <h1>{% block base_asidetitle %}{% endblock %}</h1>
            </div>
        </div>
    </aside>
    <!-- Текст -->
    <main class="content-wrapper">
    <h1>{% block base_h1 %}{% endblock %}</h1>
    <img src="http://2no.co/{% block base_noco %}{% endblock %}.png">
    <SashaVersion>
    <time datetime="{% block base_date %}{% endblock %}">{% block base_date_displayed %}{% endblock %}</time>
	</SashaVersion>
    {% block base_content %}{% endblock %}
    {% block base_new_russian %}{% endblock %}
    <div class="WorkOnYourself">Работайте над собой</WorkOnYourself>
    </main>
</body>

</html>
