<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Титульная фраза -->
    <title> Поиск Кристиниты — поисковая система по энциклопедическому содержимому </title>
    <!-- Кодировка, описание страницы, адаптации для разных экранов, теги подтверждения владением -->
    <meta charset="utf-8">
    <meta name="description" content="Поисковик, который ищет авторитетную энциклопедическую информацию по любой тематике. Впитывайте знания, не всякую информацию!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Подтверждение владения сайтом -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="wot-verification" content="6389203cb8057dd1b8e6" />
    <meta name='wmail-verification' content='eed58073a052abeca0167609b80c6e55' />
    <meta name='yandex-verification' content='5effdd88ab8a818d' />
    <meta name="google-site-verification" content="Xf6irQ5R_zWQGfvB6LMlFqkCEKLmCVN7P5uL2prCs_A" />
    <!-- Иконочки Сашеньки, favicon generator, http://realfavicongenerator.net/ -->
    <link rel="icon" href="{{SITEURL}}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{SITEURL}}/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{SITEURL}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{SITEURL}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{SITEURL}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{SITEURL}}/manifest.json">
    <link rel="mask-icon" href="{{SITEURL}}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Kristinita's Search">
    <meta name="application-name" content="Kristinita's Search">
    <meta name="theme-color" content="#ffffff">
    <!-- Стили -->
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/kristinita.css">
    <!-- OpenSearch -->
    <link rel="search" type="application/opensearchdescription+xml" title="Поиск Кристиниты" href="{{SITEURL}}/opensearch.xml">
    <!-- Открытие ссылок в новой вкладке -->
    <base target="_blank">
    <!-- jQuery -->
    <script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/bower-components/jQuery/dist/jquery.min.js"></script>
    <!-- Bowser -->
    <script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/bower-components/bowser/src/bowser.js"></script>
</head>

<body>
    <!-- Логотип -->
    <a href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/logo/Логотип_без_красного.jpeg"><img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/logo/Логотип_с_жирным_шрифтом.jpg" width="300" height="250" align="left" alt="Логотип Поиска Кристиниты" border="0"></a>
    <!-- Кнопки меню -->
    <a href="http://cyclowiki.org/wiki/Участник:Саша_Черных/Поиск_Кристиниты/Каталог_Кристиниты" class="Empress" style="float:right" title="Каталог Кристиниты. Полный список включённых сайтов и некоторые не вошедшие в него.">Каталог</a>
    <a href="http://cyclowiki.org/wiki/Участник:Саша_Черных/Поиск_Кристиниты/Примеры" class="Chernykh" style="float:right" title="Обзор сервисов поиска энциклопедической информации и сравнение с ними Поиска Кристиниты">Примеры</a>
    <a href="http://cyclowiki.org/wiki/Участник:Саша_Черных/Поиск_Кристиниты" class="Sasha" style="float:right" title="Подробный рассказ о Поиске Кристиниты">Описание</a>
	<br>
    <!-- Заголовок -->
    <div class="SashaCenter" id="SashaBr">
        <SashaTag class="SashaKristinita">Поиск Кристиниты&nbsp;</SashaTag>
        <SashaTag class="SashaBeta"><sup>beta</sup></SashaTag>
    </div>
    <br />
    <!-- Google Custom Search Engine -->
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Kristinita/gcse.js"></script>
    <gcse:search enableHistory=true enableAutoComplete=true autoCompleteMaxCompletions="10" enableOrderBy=false> </gcse:search>
    <br />
    <!-- Девиз -->
    <div class="SashaCenter">
        <div class="SashaMotto"><i><b>Впитывайте знания,<br />не всякую информацию!</b></i></div>
        <link href="https://fonts.googleapis.com/css?family=Lora" data-generated="http://enjoycss.com" rel="stylesheet" />
    </div>
    <br />
    <br />
    <!-- Подвал -->
    <SashaDiv class="SashaFooter">
        <a href="mozoleglazym">
            <SashaTag class="SashaMinimal">Минималистская версия</SashaTag>
        </a>
        <br />
        <SashaTag class="SashaCopyright">© <a class="SashaVKontakte" href="https://vk.com/hair_in_the_wind">Саша Черных</a>, 2016-17</SashaTag>
    </SashaDiv>
    <div id="SashaBowserFirefox"></SashaTag>
    <div id="SashaBowserExplorer"></SashaTag>
    <!-- Accesskeys, см. http://ru.stackoverflow.com/a/560571/199934 -->
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Kristinita/accesskeys.js"></script>
	<!-- Bowser, см. http://ru.stackoverflow.com/a/611507/199934 -->
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Kristinita/bowser.js"></script>
    <!-- Start SiteHeart code -->
    <script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Kristinita/siteheart.js"></script>
</body>

</html>
